* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: 167vh;
    /* background: url(../img/beijing.jpg) no-repeat;
    background-size: 100% 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "楷体";
    perspective: 1200px;
}

.app {
    width: 85%;
    height: 90%;
}

.dashBoard {
    width: 20%;
    float: left;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

.navigation li a {
display: block;
padding: 40px 100px;
text-decoration: none;
color: #333;
}

.navigation li a:hover {
background-color: #ddd;
}

.user_item {
    width: 80%;
    float: right;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 180px;
    perspective: 1200px;
    height: 180px;
}

.avatar img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.avatar img:hover {
    transform: rotateX(360deg);
}

.Information {
    width: 75%;
    height: 100%;
    line-height: 50px;
    padding-left: 25px;
    font-size: 20px;
}

.din {
    width: 100%;
    height: 100%;
}

.p1 {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.g-container {
    width: 40%;
    height: 10px;
    border-radius: 25px;
    background: #eee;
}

.g-progress {
    width: 50%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: red;
}

.o {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -23px;
    margin-left: 20px;
}

.Integral_item {
    width: 100%;
    height: 500px;
    background-image: url(../img/R-C.png);
    background-repeat: no-repeat;
    /* background-position: -82px -73px; */
    /* background-size: 124% 125%; */
    background-size: cover;
    border-radius: 20px;
}

.p2 {
    padding: 20px 20px;
    font-size: 40px;
}

.user1 {
    width: 100%;
}

.user1 ul {
    width: 100%;
    line-height: 70px;
    font-size: 27px;
}

.user1 ul li {
    width: 100%;
    height: 13%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.ri {
    width: 45%;
    float: right;
    border-radius: 10px;
}

.p3 {
    text-align: center;
    font-size: 75px;
    letter-spacing: 6px;
}